[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A robot powered training repository :robot:
[access "refs/*"]
	owner = group user/Mimak5
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mimak5
	label-Verified = -1..+1 group user/Mimak5
	push = group user/Mimak5
	read = group user/Mimak5
	rebase = group user/Mimak5
	removeReviewer = group user/Mimak5
	submit = group user/Mimak5
[access "refs/heads/*"]
	create = group user/Mimak5
	push = +force group user/Mimak5
	pushMerge = group user/Mimak5
	read = group user/Mimak5
[access "refs/tags/*"]
	push = group user/Mimak5
	push = +force group user/Mimak5
